<div id="report-lead" class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <h2><%= page_title %></h2>
    <% if (page_description) { %>
      <p><%= page_description %></p>
    <% } %>
  </div>
</div>
